html,
body {
  height: 100%;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 18px;
  /*background-color: #eee;*/
  background-color: #eee;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.errorlist {
  list-style: none;
}

.errorlist > li {
  margin-left: 0px;
}

#banner {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.banner-header {
  flex: 2;
  text-align : center;
  align-items: center;
}

.cont {
  transition: all .2s ease-in-out; 
}

.cont:hover {
  transform: scale(1.1); 
}

@media only screen and (max-width: 768px) {
  #banner {
    height: 80px;
  }
}