{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>SG-OLEC</title>

</head>
<body>

    {% block content %}
    {% endblock content %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--<script src="{% static 'js/dashboard.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"></script>-->
    <script>

        const chckbxs = [
            'checkboxpres',
            'checkboxivpres',
            'checkboxevpres',
            'checkboxisec',
            'checkboxesec',
            'checkboxpio',
            'checkboxaud',
            'checkboxbus',
            'checkboxtreas',
        ];

        chckbxs.forEach((x) => {
            //console.log(x)
            var cb = document.getElementsByClassName(x);
            for(var i = 0; i < cb.length;i++){
                cb[i].onclick = () => {
                    if(checkcount(x) > 1){
                        return false;
                    }
                }
            }
        });

        function checkcount(cls){
            var cbox = document.querySelectorAll('.' + cls + ':checked');
            return cbox.length;
        }
    </script>
</body>
</html>