{% extends 'base.html' %}

{% block content %}  
{% load static %}
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h4>Dashboard</h4>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <h1 class="text-center" style="margin-top:10px;">100</h1>
              <div class="card-body">
                <p class="card-text text-center">Used Voucher</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <h1 class="text-center" style="margin-top:10px;">87</h1>
              <div class="card-body">
                <p class="card-text text-center">Unused Voucher</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <h1 class="text-center" style="margin-top:10px;">100</h1>
              <div class="card-body">
                <p class="card-text text-center">Total Voucher</p>
              </div>
            </div>
          </div>
        </div>
        </main>
    </div>
  </div>
  
{% endblock content %}
