{% extends 'base2.html' %}

{% block content %}
{% load static %}
<div id="banner" style="background-image: url({% static 'img/banner.jpg' %})">
</div>
<div class="container">
    <div>
    <form method="post" action="{% url 'save_vote' %}">
        {% csrf_token %}
        {% for x in arrCategory %}
        <h1 class="text-muted text-center text-uppercase" style="margin-top:20px">{{x.category_name}}</h1>
        <hr>
        <div class="row" style="margin-bottom:50px;">
            {% for y in arrCandidate %}
                {% if x.id == y.category_id %}
                    <div class="col-md-3 cont" style="margin-bottom:10px;">
                        <div class="card">
                            <img src="{% static 'img/usericon.png' %}" class="card-img-top" style="padding:10px;">
                            <div class="card-body">
                                <h5 class="card-title">{{ y.candidate_name }}</h5>
                                <p class="card-text">{{ y.brief_self_intro }}</p>
                                <label><input type="checkbox" id="demo" name="{{x.checkboxclass}}" value="{{x.id}}/{{ y.id }}" class="{{x.checkboxclass}}"> Vote</label>
                                <!--<a href="#" class="btn btn-primary form-control">Vote</a>-->
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-6">
                <label for="">Please enter your Vote Voucher to make your vote valid.</label>
                <input type="text" name="votevoucher" id="" class="form-control" placeholder="Vote Voucher">
            </div>
            <div class="col-md-6">
                <button class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock content %}