
  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close btn btn-sm">
                <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="modal-body">
            <form id="candidateform" action="{% url 'addCandidate' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 form-floating">
                    <input type="hidden" name="id" value=""/>
                    <input name="candidate_name" id="floatingInput" type="text" class="form-control" placeholder="Candidate Name" required/>
                    <label for="floatingInput" style="margin-left:10px;">Candidate Name</label>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-12 form-floating">
                    <input name="address" id="floatingInput" type="text" class="form-control" placeholder="Address" required/>
                    <label for="floatingInput" style="margin-left:10px;">Address</label>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label>Category</label>
                    <select name="category" class="form-control">
                        {% for c in categs %}
                        <option value="{{c.id}}">{{c.category_name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-6 form-floating">
                    <input name="year_and_section" id="floatingInput" type="text" class="form-control" placeholder="Year and Section" required/>
                    <label for="floatingInput" style="margin-left:10px;">Year and Section</label>
                </div>
            </div>
            <br>
            <label>Brief Self Intro</label>
            <textarea id="textarea" name="brief_self_intro" class="form-control" onPaste="return false" required></textarea>
            <span id="charlen" style="color:blue;font-size:10px;">0/250</span>
            <br>
            <div class="row">
                <label>Upload Image</label>
                <input name="img_path" type="file" required accept="image/*"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary close">Close</button>
            <button type="submit" class="btn btn-primary" id="submitbtn"></button>
            </form>
        </div>
      </div>
    </div>
  </div>